<div class="admin-stats">
    <table class="table table-striped table-sm table-admin-states">
        <tr>
            <th></th>
            <th class="text-right">Last 24 hours</th>
            <th class="text-right">Last 7 days</th>
            <th class="text-right">Last 30 days</th>
            <th class="text-right">All</th>
        </tr>
        <tr class="text-right">
            <th class="text-left">Games</th>
            <td>{{gamesCreated[0]}}</td>
            <td>{{gamesCreated[1]}}</td>
            <td>{{gamesCreated[2]}}</td>
            <td>{{gameCount}}</td>
        </tr>
        <tr class="text-right">
            <th class="text-left">Players Created</th>
            <td>{{playersCreated[0]}}</td>
            <td>{{playersCreated[1]}}</td>
            <td>{{playersCreated[2]}}</td>
            <td>{{playerCount}}</td>
        </tr>
        <tr class="text-right">
            <th class="text-left">Players Logged In</th>
            <td>{{playerLogins[0]}}</td>
            <td>{{playerLogins[1]}}</td>
            <td>{{playerLogins[2]}}</td>
            <td></td>
        </tr>
    </table>
</div>
